version: '3.8'

services:
  web:
      image: nginx:latest
      container_name: laravel_nginx
      restart: unless-stopped
      ports:
        - "8000:80"
      volumes:
        - ../.:/var/www/html:ro
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      depends_on:
        - app
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: laravel_app
    container_name: laravel_app
    restart: unless-stopped
    volumes:
      - ../.:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
volumes:
    db_data: